.container {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #050506;
}

.game {
  height: 100%;
}

.score {
  color: #fcfcfc;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 44px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
