.container {
  height: 200px;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #fcfcfc;
  border-radius: 4px;

  button {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
    background-color: #eb6059;
    color: #fcfcfc;
    &,
    &:active,
    &:focus {
      border: 0;
      outline: none;
    }
  }
}

.title {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #050506;
  font-weight: 600;

  h4 {
    font-size: 40px;
    margin: 0;
  }

  span {
    font-size: 28px;
    color: #9898b8;
    line-height: 40px;
  }
}
